@font-face {
    font-family: 'LibreFranklin';
    src: url('./static/fonts/LibreFranklin-Regular.eot');
    src: url('/static/fonts/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/LibreFranklin-Regular.svg#LibreFranklin-Regular') format('svg'),
    url('/static/fonts/LibreFranklin-Regular.ttf') format('truetype'),
    url('/static/fonts/LibreFranklin-Regular.woff') format('woff'),
    url('/static/fonts/LibreFranklin-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: LibreFranklin;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.intro {
    background-image: url("/static/images/intro.png");
}
